services:
  pgdatabase:
    image: postgres:18
    environment:
      POSTGRES_USER: "root"
      POSTGRES_PASSWORD: "root"
      POSTGRES_DB: "ny_taxi"
    volumes:
      - "ny_taxi_postgres_data:/var/lib/postgresql"
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: "admin@admin.com"
      PGADMIN_DEFAULT_PASSWORD: "root"
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_PROXY_X_HOST_COUNT: 1
      PGADMIN_CONFIG_PROXY_X_PREFIX_COUNT: 1g
    volumes:
      - "pgadmin_data:/var/lib/pgadmin"
      - ./servers.json:/pgadmin4/servers.json
    ports:
      - "8086:80"
    depends_on:
      - pgdatabase
    deploy:
      resources:
        reservations:
          devices: []

volumes:
  ny_taxi_postgres_data:
  pgadmin_data: